---
Language: Cpp
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlinesLeft: true
AlignOperands: true
AlignTrailingComments: false
# AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: All
# AlwaysBreakBeforeMultilineStrings: false
# AlwaysBreakTemplateDeclarations: true
# BinPackArguments: true
# BinPackParameters: true
BraceWrapping: {
    AfterClass: 'false'
    AfterControlStatement: 'false'
    AfterEnum : 'false'
    AfterFunction : 'true'
    AfterNamespace : 'false'
    AfterStruct : 'false'
    AfterUnion : 'false'
    BeforeCatch : 'false'
    BeforeElse : 'false'
    IndentBraces : 'false'
}
# BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
# BreakBeforeTernaryOperators: false
BreakStringLiterals: true
ColumnLimit: 79
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentWidth: 4
IndentWrappedFunctionNames: false
IndentFunctionDeclarationAfterType: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: None
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakString: 1000
PenaltyBreakFirstLessLess: 120
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 0
PointerAlignment: Right
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
...
